In [2]:
import pyodbc
import pandas as pd
from time import gmtime, strftime
from alpha_vantage.timeseries import TimeSeries
import time
import numpy as np
import QuantLib as ql
%config Completer.use_jedi = False
# from utilities.date_utilities import *

In [10]:

connection = pyodbc.connect('Driver=SQL Server;'
                      'Server=DESKTOP-0CQQR1E\SQLEXPRESS;'
                      'Database=securities_master;'
                      'Trusted_Connection=yes;')
cursor=connection.cursor()
ts = TimeSeries(key='NHXLC1G323WY6E6I', output_format='csv')

In [32]:
ticker_universe = ["AAPL","MSFT","GOOG","FB","SNAP"]
correspond_id = [1,2,3,4,5]
year_range = [1,2]
month_range = [1,2,3,4,5,6,7,8,9,10,11,12]

In [ ]:
for ticker,sec_id in zip(ticker_universe, correspond_id):
    for yr in year_range:
        for mo in month_range:
            data, meta_data = ts.get_intraday_extended(ticker, interval='1min', slice=f'year{yr}month{mo}')
            k = list(data)
            k = np.array(k)
            k_data = k[1:,:]
            df = pd.DataFrame(k_data)
            df.columns = k[0][:]
            for i in range(len(df)):
                record = df.iloc[i]
                curr_time=strftime("%Y-%m-%d %H:%M:%S", gmtime())
                insert_str = f"""
                        INSERT INTO intraday_hist
                        (
                        sec_id,
                        ticker,
                        instrument,
                        eff_date,
                        open_price,
                        high_price,
                        low_price,
                        close_price,
                        adj_close_price,
                        volume,
                        dividend,
                        split,
                        created_date,
                        last_updated_date)
                        values (

                        '{sec_id}',
                        '{ticker}',
                        '{'Common Stock'}',
                        '{record["time"]}',
                        {record['open']},
                        {record['high']},
                        {record['low']},
                        {record['close']},
                        {record['close']},
                        {record['volume']},
                        {0.0},
                        {0.0},
                        '{curr_time}',
                        '{curr_time}'
                        )
                        """
                cursor.execute(insert_str)
                connection.commit()
            print(f"{ticker}, year {yr} month {mo} inserted!")
            time.sleep(15)

connection.close()

AAPL, year 1 month 1 inserted!
AAPL, year 1 month 2 inserted!
AAPL, year 1 month 3 inserted!
AAPL, year 1 month 4 inserted!
AAPL, year 1 month 5 inserted!
AAPL, year 1 month 6 inserted!
AAPL, year 1 month 7 inserted!
AAPL, year 1 month 8 inserted!
AAPL, year 1 month 9 inserted!
AAPL, year 1 month 10 inserted!
AAPL, year 1 month 11 inserted!
AAPL, year 1 month 12 inserted!
AAPL, year 2 month 1 inserted!
AAPL, year 2 month 2 inserted!
AAPL, year 2 month 3 inserted!
AAPL, year 2 month 4 inserted!
AAPL, year 2 month 5 inserted!
AAPL, year 2 month 6 inserted!
AAPL, year 2 month 7 inserted!
AAPL, year 2 month 8 inserted!
AAPL, year 2 month 9 inserted!
AAPL, year 2 month 10 inserted!
AAPL, year 2 month 11 inserted!
AAPL, year 2 month 12 inserted!

In [30]:
data, meta_data = ts.get_intraday_extended("AAPL", interval='15min', slice='year2month12')

In [31]:
k = list(data)
k = np.array(k)
k_data = k[1:,:]
df = pd.DataFrame(k_data)
df.columns = k[0][:]
df.head(3)

,time,open,high,low,close,volume
0,2019-08-02 20:00:00,50.1222151815,50.1835642821,50.1222151815,50.1835642821,40184
1,2019-08-02 19:45:00,50.1001295053,50.1197612175,50.0976755413,50.1197612175,28400
2,2019-08-02 19:30:00,50.1099453614,50.1099453614,50.1001295053,50.1001295053,4940

In [29]:

sec_id = 0
ticker = "AAPL"
for i in range(len(df)):

    record = df.iloc[i]
    curr_time=strftime("%Y-%m-%d %H:%M:%S", gmtime())
    insert_str = f"""
            INSERT INTO intraday_hist
            (
            sec_id,
            ticker,
            instrument,
            eff_date,
            open_price,
            high_price,
            low_price,
            close_price,
            adj_close_price,
            volume,
            dividend,
            split,
            created_date,
            last_updated_date)
            values (

            '{sec_id}',
            '{ticker}',
            '{'Common Stock'}',
            '{record["time"]}',
            {record['open']},
            {record['high']},
            {record['low']},
            {record['close']},
            {record['close']},
            {record['volume']},
            {0.0},
            {0.0},
            '{curr_time}',
            '{curr_time}'
            )
            """
    cursor.execute(insert_str)
    connection.commit()